:root {
    --main-font-family: "Roboto", sans-serif;
    --main-font-size: 16px;
    --main-font-color: #ffffffc2;
    --main-color-gray: #636b6f;
    --card-color-white: #dbdbdd;
    --card-color-black: #4f4f52;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    min-height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    font-size: 16px;
    line-height: 1.7;
}
